<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js Calculator</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="calc">
            <div class="calc__output">
                <label v-for="log in logs" :key="log">{{log}}</label>
                <input @keyup.enter="handleExpression" type="text"  v-model="output"></input>
            </div>
            <button 
                class="calc__item calc__item_hightlighted" 
                @click="addToExpression(operator)" 
                v-for="(operator,index) in ['/','*','-','%']" 
                :key="'operator'+operator">
                {{operator}}
            </button>
           
            <button 
                class="calc__item" 
                @click="addToExpression(index)" 
                v-for="(btn,index) in 10" 
                :key="'number'+index">
                {{index}}
            </button>
           
            <button class="calc__item" @click="addToExpression('.')">.</button>
            <button class="calc__item calc__item_clear" @click="clear">C</button>
            <button class="calc__item calc__item_trim" @click="trim">Del</button>
            <button class="calc__item calc__item_plus calc__item_hightlighted" @click="addToExpression('+')">+</button>
            <button class="calc__item calc__item_eq" @click="handleExpression">=</button>
        </div>
    </div>
    <script src="js/app.js"></script>
    
</body>

</html>